@media screen and (max-width: 900px) {
    .main-layout {
        display: flex;
        flex-direction: column;
    }
    .bottom-player {
        display: block !important;
    }
    .app{
        padding-bottom:240px
    }
}